<h3>House Listing</h3>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
    <tr>
      <td><%= house.latitude %> </td>
      <td><%= house.longitude %> </td>
    </tr>
    <% end %>
  </tbody>
</table>


<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
