<h3>House Listing</h3>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>

  <tbody>
    <% HouseListing.all.each do |house| %>
    <tr>
      <td><%= house.latitude %> </td>
      <td><%= house.longitude %> </td>
    </tr>
    <% end %>
  </tbody>
</table>


<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  var markers = handler.addMarkers([
    {lat: 39.706485, lng: -104.889554},
    {lat: 39.392804, lng: -104.888147},
    {lat: 39.676781, lng: -105.171297},
    {lat: 39.786931, lng: -104.893706},
    {lat: 40.041531, lng: -105.066177},
    {lat: 40.575019, lng: -105.133799},
    {lat: 39.792251, lng: -105.014363},
    {lat: 39.72407, lng: -104.870277},
    {lat: 40.477414, lng: -106.829863}]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
104.889554
39.392804	-104.888147
39.676781	-105.171297
39.786931	-104.893706
40.041531	-105.066177
40.575019	-105.133799
39.792251	-105.014363
39.72407	-104.870277
40.477414	-106.829863
