
  .color-primary-0 { color: #2B4C6F }	/* Main Primary color */
  .color-primary-1 { color: #738CA6 }
  .color-primary-2 { color: #4A6A8A }
  .color-primary-3 { color: #133253 }
  .color-primary-4 { color: #041D37 }

  body {
    padding-top: 100px !important;
  }

  #map-container {
   height: 400px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
  border-width: 7px;
  }
  #map-canvas {
   height: 384px;
   width: 100%;
   }

   /* Bootstrap Css Map Fix*/
   #map-container #map-canvas img {
     max-width: none;
   }
   /* Bootstrap Css Map Fix*/
   #map-container #map-canvas label {
     width: auto; display:inline;
   }
